/* Common rules
-------------------------------------------------- */

* {
	outline: 0 !important;
}

html {
	position: relative;
	min-height: 100%;
}

body > .main-container {
	padding-bottom: 10px;
	//padding: $footer-height 15px 0;
	//padding: 0px 15px 0;
}

.btn-close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: $close-btn-color;
    opacity: 1;
    font-size: 50px;
    font-weight: 100;

    @include text-shadow(none);
    @include transition(transform 0.3s ease-in-out);

    &:hover {
        @include transform(rotate(-360deg));
    }
}  