footer {
	width: 100%;
	a {
		color: $link-color-footer;
		&:hover {
			color: $hover-link-color-footer;
		}
	}
	.footer-core {
		padding-top: 10px;
		min-height: 200px;
		padding-bottom: 20px;

		background-color: $bg-footer;

		border-bottom: 1px solid $border-bottom-footer;
		border-top: 1px solid $border-top-footer;

		.top-trend {
			h4 {
				margin-top: 0;
				margin-bottom: 5px;
			}
			ul {
				padding-left: 10px;
			}
		}

	}

	.footer-bottom {
		background: #E3E3E3;
		border-top: 1px solid $border-top-footer;
		padding-top: 10px;
		padding-bottom: 8px;
	}

}