.bg-nav {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}

.navbar {
	border: none;

	// Icons in navbar (like search)
	.navbar-nav {
		> li {
			> i {
				display: block;
				padding-top: 15px;
				cursor: pointer;
			}
		}		
	}

	.dropdown-menu {
		border-top: none;
	}

}