#search {
    z-index: 999999;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: $search-bg;
	@include transition(all 0.5s ease-in-out);
	@include transform(translate(0px, -100%) scale(0, 0));
    opacity: 0;

    &.open {
        @include transform(translate(0px, 0px) scale(1, 1)); 
        opacity: 1;
    }
    
    input[type="search"] {
        width: 100%;
        font-size: 60px;
        border: 0px;
        margin: 0px auto;
        margin-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .close {
        position: fixed;
        top: 15px;
        right: 15px;
        color: $close-btn-color;
        opacity: 1;
        font-size: 50px;
        font-weight: 100;

        @include text-shadow(none);
        @include transition(transform 0.3s ease-in-out);

        &:hover {
            @include transform(rotate(-360deg));
        }
    }        

    form {
        margin-top: 2%;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        .btn {
            margin-top: 24px;
        }
        .search-tri-types {
            margin-top: 10px
        }
        .control-label, input {
            color: rgb(255, 255, 255);
            background: rgba(0, 0, 0, 0);
            font-weight: 300;
        }
        .control-label {
            font-size: 30px;
        }
        input[type="number"] {
            margin-top: 12px;
            width: 120px;
            -webkit-appearance: none; 
            border: 0;
            background-color: rgba(255,255,255,0.1);
        }
        .selectivity-multiple-input, input[type='text'].selectivity-multiple-input {
            font-size: inherit;
        }
        .selectivity-multiple-selected-item {
            background-color: rgba(255,255,255,0.1);
        }
        .selectivity-result-item.highlight {
            background: #555;
        }
        .selectivity-dropdown, .selectivity-result-item {
            border-radius: 0 !important;
        }
        .selectivity-multiple-selected-item-remove:hover {
            color: #333 !important;
        }
    }

}

.form-search {
    .selectivity-multiple-input {
        min-width: 150px !important;
    }
    .search-type {
        min-height: 42px;
    }
}