.well-server {
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 2px 0 0 #e5e5e5;
	margin: 0 0 1em;
	padding: 1em;

	h4 {
		margin-top: 0;
	}
}

.banner {
	opacity: 0;
	@include transition(opacity .3s ease-in);
}