@import "compass";


@import "../bootstrap";

@import '../utils/variables';

$bg-footer: #444;


@import '../base/common-theme';

body {
	background: #f5f5f5;
	color: #646464;
}

.well-server {
	border: none;
}