/**
 * Colors
 * @type Array
 */
$color: (
  'blue': #4285f4
);

/**
 * Sizes for loops
 * @type Array
 */
$sizes: ('xs', 'sm', 'md', 'lg');

/**
 * Margin size for margin helper
 * @type Integer
 */
$margin-size: 5;

/**
 * Padding size for padding helper
 * @type Integer
 */
$padding-size: 5;