
// Generate the margins helper
@include margins-helper($margin-size);

// Generate the paddings helper
@include paddings-helper($padding-size);

.inline {
	display: inline;
}

.full-size {
	width: 100%;
    height: 100%;
}

/**
 * Icons
 */

.icon {
	position: relative;
	top: 2px;
}

.icon-flip {
	@include transition(transform .5s);
	&:hover {
		@include transform(scale(-1, 1));
	}
}


/**
 * Text classes
 */

.text-premium {
	color: #ccac00 !important;
}