/**
 * Colors
 * @type Array
 */
$color: (
  'blue': #4285f4
);

/**
 * Sizes for loops
 * @type Array
 */
$sizes: ('xs', 'sm', 'md', 'lg');

/**
 * Margin size for margin helper
 * @type Integer
 */
$margin-size: 5;

/**
 * Padding size for padding helper
 * @type Integer
 */
$padding-size: 5;

/**
 * Search
 */
$search-bg: rgba(0, 0, 0, 0.8);

/**
 * Btn color for close something
 */
$close-btn-color: lighten($search-bg, 80);


/**
 * Footer height for fix in the bottom
 */
$footer-height: 200px;

/**
 * Footer colors
 */
$bg-footer: #f5f5f5 !default;
$border-top-footer: #DDDDDD !default;
$border-bottom-footer: #CCCCCC !default;
$link-color-footer: #f5f5f5 !default;
$hover-link-color-footer: darken($link-color-footer, 20) !default;